body
{
background:url("image.jpg");
}

.mydiv
{
border: 4px solid skyblue;
width:35%;
text-align:center;
background-color:skyblue;
margin:160px 600px;	
border-radius:20px;
}

.mydiv img
{
border-radius:20px;	
width:150px;
margin-top:-50px;
}

h2{
	color:blue;
}

input[type="text"],input[type="password"]{
	height:35px;
	width:240px;
	margin:3px;
	border-radius:10px;
	color:red;
	font-weight:bold;
	text-align:center;
	background-color:pink;
	
}


input[type="submit"]
{
	width:120px;
	height:40px;
	margin:8px auto;
	border-radius:5px;
	background-color:yellow;
	
}


input[type="submit"]:hover{
	background-color:skyblue;
	font-weight:bold;
	
}
