*
{
    margin:0;
}
body{
    height:100vh;
    background-image: linear-gradient(to left,cyan, white);
}
#home
{
    position: absolute;
    top:35%;
    left:5%;
    height:90vh;
    width:90vw;
    background:url('hero-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.4;
    z-index: -1;
}   

#clg-label
{
    z-index: 2;
}

#title
{
    padding-top: 2%;
    font-size: small;
    text-align: center;
    font-size: 1rem;
    font-weight: 900;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    overflow: hidden;
    background-color: rgb(53, 187, 187);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #9abeb1;
    color: white;
  }
 .box 
 {
     background: url();
     backdrop-filter: blur(6px);
     margin:15%;
     height:50%;
     font-size:larger;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


     
 }
 .box1
 {
     background: url();
     backdrop-filter: blur(6px);
     margin:20% 16%;
     height:70%;
     font-size:larger;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 }

